<div class="row">
  <div class="col-12 col-sm-3" id="menu">
    <div class="row">
      <div class="col col-sm-12">
        <a class="nav-link" routerLinkActive="active" routerLink="create-post">Créer une actualité</a>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
        <a class="nav-link" routerLinkActive="active" routerLink="create-user">Créer un utilisateur</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
